body {
  background-color: greenyellow;
}

header {
  font-family: Arial, Helvetica, sans-serif;
}

/* styling some tabs*/

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: orange;
  font-family: Arial, Helvetica, sans-serif;
}

/* style tab buttons*/
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 25%;
  transition: 0.3s;
}

/* change buttons on hover*/

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: red;
  color: red;
}
.tab content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* flex box styling*/
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.div {
  word-wrap: break-word;
}
