body {
  background-color: #7092a0;
  margin: 0;
}
.header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
/*setting the mower man on top of tab bar*/
.topleft {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 388px;
  left: 1px;
  margin: 0 auto;
  text-align: left;
  border: none;
}
/*setting the mower man on top of tab bar*/
.topright {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 388px;
  right: 1px;
  margin: 0 auto;
  text-align: left;
  border: none;
}

.banner-icon {
  align-self: start;
  line-height: 50px;
  border: 1px solid black;
}
/* styling some tabs*/

.tab {
  overflow: hidden;
  border: 1px solid black;
  background-color: #c7bea0;
}

/* style tab buttons*/
.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 25%;
  transition: 0.3s;
}
td {
  text-align: center;
  border: 1px solid black;
}
tr {
  text-align: center;
  border: 1px solid black;
}
th {
  text-align: center;
  border: 1px solid black;
}
/* change buttons on hover*/
.tab button:hover {
  background-color: #546220;
}
.tab button:active {
  background-color: #a0bf75 !important;
}
img {
  border: 2px solid black;
  border-radius: 10px;
}
.tab content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* flex box styling*/
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #c7bea0;
  row-gap: 15px;
  border: 2px solid black;
  padding: 6px;
}

.flex-container img {
  width: 350px;
  height: 350px;
}
/* center class for centering text*/
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.fieldset {
  background-color: #c7bea0;
  display: inline-block;
  border-radius: 10px;
  border: 2px solid black;
}

.footer {
  margin-top: 25px;
  padding: 50px 25%;
  background-color: #c7bea0;
  display: flex;
  border-radius: 10px;
  border: solid black;
  outline-style: groove;
  outline-color: #546220;
  text-align: center;
}
.footerIcon {
  height: 25px;
  width: 25px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}
.right-side {
  margin-left: auto;
  margin-right: 15px;
}
.left-side {
  margin-right: auto;
  margin-left: 15px;
}

#contact-us {
  list-style-type: none;
}
.copyright {
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: 10px;
}
.submit-button {
  text-align: center;
}
.angela {
  display: flex;
  align-items: center;
  border: 2px dotted #7092a0;
  justify-content: center;
  background-color: #c7bea0;
  border-radius: 10px;
}
.angelatext {
  font-size: 18px;
  padding: 5px;
}
.angelaimage {
  max-width: 100%;
  max-height: 100%;
}
.matt {
  display: flex;
  border: 2px dotted #c7bea0;
  align-items: center;
  justify-content: right;
  flex-direction: row-reverse;
  background-color: #7092a0;
  border-radius: 10px;
}
.matttext {
  font-size: 18px;
  padding: 5px;
}
.mattimage {
  height: 100%;
  width: 100%;
}

.worker {
  display: flex;
  align-items: center;
  justify-content: left;
  border: 2px dotted #7092a0;
  background: #c7bea0;
  border-radius: 10px;
}
.workimage {
  width: 100%;
  height: 100%;
}
.worktext {
  font-size: 18px;
  padding: 5px;
}
.contactinfo {
  display: flex;
  border: 1px solid black;
  align-items: baseline;
  background-color: #c7bea0;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px;
}
